/*** page ***/
	body {
		font-family: "Press Start 2P", monospace;
		margin: 0px;
		padding: 0px;
		border: 0px;
		box-shadow: 0px 0px 20px #111111 inset;
	}

/*** navbar ***/
	#navbar {
		position: absolute;
		z-index: 2;
		top: 0px;
		width: 100vw;
		height: 50px;
		background-color: #111111;
		box-shadow: 0px 0px 20px #111111;
		padding: 0px;
		margin: 0px;
	}

	/* title */
		#title {
			float: left;
			width: 290px;
			height: 40px;
			padding: 5px;
			text-align: center;
			font-size: 25px;
			line-height: 1.5;
			color: #dddddd;
			user-select: none;
		}

	/* search */
		#search {
			float: left;
			width: calc(100vw - 300px);
		}

		#search-field {
			float: left;
			width: calc(100vw - 300px - 50px - 22px);
			height: 30px;
			margin: 10px;
			background-color: #222222;
			color: #dddddd;
			border: 0px;
			border-radius: 5px;
			outline: none;
			font-family: "Press Start 2P", monospace;
			font-size: 20px;
			text-align: center;
			cursor: pointer;
		}

		#search-field:focus {
			box-shadow: 0px 0px 5px #dddddd;
		}

	/* search */
		#search-button {
			float: left;
			height: 50px;
			width: 50px;
			font-family: "Press Start 2P", monospace;
			font-size: 30px;
			text-align: center;
			background-color: transparent;
			color: #dddddd;
			outline: none;
			cursor: pointer;
			border: 0px;
		}

		#search-button:hover {
			text-shadow: 0px 0px 5px #dddddd;
		}

		#search-button #search-button-search {
			user-select: none;
			transform: rotate(45deg);
		}

		#search-button:not([loading]) #search-button-spinner {
			display: none;
		}

	/* loading */
		#search-button[loading] {
			cursor: not-allowed;
		}

		#search-button[loading] #search-button-search {
			display: none;
		}

		#search-button[loading] #search-button-spinner {
			user-select: none;
			animation: loading 2s infinite linear;
		}

		@keyframes loading {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}

/*** canvas ***/
	#canvas {
		position: absolute;
		height: 100vh;
		width: 100vw;
		background-color: #222222;
	}

	/* info */
		#info {
			position: absolute;
			height: 190px;
			width: 190px;
			padding: 5px;
			opacity: 0.9;
			z-index: 3;
			border-radius: 5px;
			text-align: center;
			box-shadow: 0px 0px 20px #dddddd;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			flex-direction: column;
			overflow: hidden;
			transform: translateX(-50%) translateY(-50%);
			background-color: #222222;
		}

		#info:not([visible]) {
			display:none;
		}

		#info-image {
			background-color: #ffffff;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			top: 0px;
			left: 0px;
			height: 200px;
			width: 200px;
			z-index: 2;
			opacity: 0.25;
		}

		#info-name {
			text-decoration: none;
			color: #368fff;
			font-size: 15px;
			text-shadow: 0px 0px 10px #111111;
			width: 100%;
			margin: 5px;
			z-index: 3;
		}

		#info-name:hover, #info-name:focus {
			text-decoration: none;
			outline: none;
			text-shadow: 0px 0px 2px #ffffff;
		}

		#info-date {
			width: 100%;
			margin: 5px;
			font-size: 10px;
			text-shadow: 0px 0px 10px #111111;
			color: #ffffff;
			z-index: 3;
		}

		#info-rating {
			width: 100%;
			margin: 5px;
			font-size: 25px;
			text-shadow: 0px 0px 10px #111111;
			color: #ffffff;
			z-index: 3;
		}
